{% extends 'base.html.twig' %}

{% block title %}
{{pageTitle}}
Accueil
{% endblock %}

{% block body %}

	{# {{ dump(posts)}} #}
	<div class='hidden lg:inline-block relative w-full'>
		<img src='/images/jumbotron.jpeg' alt='image-cinema' class='w-full shadow-lg h-80 object-cover absolute -top-5 -z-50 opacity:40'>

		<div class='hidden lg:inline-flex flex-col m-4 z-50 text-right float-right'>
			<div class='mt-6 bg-black p-4 rounded-lg bg-opacity-50 ml-auto w-auto'>
				<h1 class='text-4xl font-bold lg:leading-tight mb-4 text-white'>
					Voyagez à travers les écrans
				</h1>
				<p class='text-lg mb-6'>
					Découvrez des mondes lointains et des aventures extraordinaires sans quitter votre siège.
					<br/>Le cinéma, la passerelle vers l'infini.
				</p>
				{# <a href='/article' class='bg-white text-blue-700 hover:bg-blue-200 py-2 px-4 rounded-full inline-block transition duration-300 ease-in-out'>Découvrir plus</a> #}
			</div>
		</div>
	</div>

	<div
		class='lg:flex justify-between lg:p-2 mt-10 lg:mt-0'>
		
		<div class='w-full lg:max-w-xs lg:my-0 my-10 mx-auto'>
			{% include 'components/aside.html.twig' %}
		</div>
		<!-- Post list -->
		{% include 'post/postList.html.twig' %}
		<!-- end post list -->
	</div>
{% endblock %}
