{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	{# {{ dump(posts)}} #}
	<div
		class='container mx-auto'>

		<!-- Post list -->
		{% include 'post/postList.html.twig' %}
		<!-- end post list -->
	</div>
{% endblock %}
