{% extends 'base.html.twig' %}

{% block title %}
	{{pageTitle}}
	Les genres
{% endblock %}

{% block body %}

	{# {{dump(categories)}} #}
	<div class='container mx-auto my-10'>
		<div class='grid lg:grid-cols-4 sm:grid-cols-2 justify-center gap-2'>
			{% for category in categories %}
				{% include 'category/categoryCard.html.twig' %}
			{% endfor %}
		</div>
	{% endblock %}
