{% extends 'base.html.twig' %}

{% block title %}Films par Catégories
{% endblock %}

{% block body %}

	{# {{dump(categories)}} #}
	<div class='container mx-auto'>
		<div class='grid lg:grid-cols-4 justify-center gap-2'>
			{% for category in categories %}
				{% include 'category/categoryCard.html.twig' %}
			{% endfor %}
		</div>
	{% endblock %}
