{% extends 'base.html.twig' %}

{% block title %}
	{{pageTitle}}
	Séries
{% endblock %}

{% block body %}
	<div class='container mx-auto'>
		<div class='flex items-center gap-2 my-10'>
			<h1>Fan de séries, nous aussi !! Retrouvez-ici l'ensemble de notre sélection.</h1>
		</div>

		<div class='grid lg:grid-cols-4 justify-center gap-4 mx-4'>

			{% for post in posts %}
				<div class=''>
					{% include 'post/postCard.html.twig' %}
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
