{% extends 'base.html.twig' %}

{% block title %}
	{{pageTitle}}
	Films
{% endblock %}

{% block body %}
	<div class='container mx-auto mt-10'>
		<div class='flex items-center gap-2'>
			<h1 class='lg:px-4 px-8'>Amoureux du cinéma, nous partageons cette passion ! 
				<br>Explorez ci-dessous l'intégralité de nos choix.</h1>
		</div>
			<div
		class='lg:flex justify-between lg:p-2 mt-10 lg:mt-0'>
		
		<div class='w-full lg:max-w-xs lg:my-0 my-10 mx-auto'>
			{% include 'components/aside.html.twig' %}
		</div>
		<!-- Post list -->
		{% include 'post/postList.html.twig' %}
		<!-- end post list -->
	</div>
	</div>
{% endblock %}
