@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700;900&family=Limelight&display=swap');

body {
    background-color: #44403C;
    color: #FAFAF9;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#blog-title {
    font-family: 'Limelight', sans-serif;
    font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Anton', sans-serif;
    color: #FACC15;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

.border-star {
    position: relative;
}

.border-star::before,
.border-star::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.border-star::before {
    border: 2px solid transparent;
    border-image: conic-gradient(from 0deg,
            #FACC15,
            #FACC15 20%,
            #FACC15 20%,
            #FACC15 30%,
            #FACC15 30%,
            #FACC15 50%,
            #FACC15 50%,
            #FACC15 60%,
            #FACC15 60%,
            #FACC15 80%,
            #FACC15 80%,
            #FACC15 90%,
            #FACC15 90%,
            #FACC15 100%);
    border-image-slice: 1;
}

.border-star::after {
    border: 2px solid #FACC15;
}