<div class='flex flex-col w-full mx-auto'>
	<div class='group inline-block relative w-full'>
		<div class='inline-flex items-center cursor-pointer justify-center w-full'>
			<span class='text-xl mx-auto font-anton text-yellow-400 tracking-wider'>
				SVOD
			</span>
			<svg class='fill-current h-5 w-5 text-red-600' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20'>
				<path d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'/>
			</svg>
		</div>
		<div class='absolute hidden text-white group-hover:block rounded-lg mx-auto w-full'>
			{% for source in sources %}
				<a class='block bg-[#1C1917] hover:bg-white hover:text-black py-2 text-sm px-4 whitespace-no-wrap text-center' href='{{path('app_source')}}/{{source.slug}}'>
					{{source.name}}</a>
			{% endfor %}
		</div>
	</div>
</div>
