{% extends 'base.html.twig' %}

{% block title %}
	{{pageTitle}}
	Les réalisateurs
{% endblock %}

{% block body %}
	<div class='container mx-auto my-10'>
		<div class='flex items-center gap-2'>
			<img src='/images/icons/director-ico.svg' alt='cator-icon' class='w-6 h-6'>
			<h1>Les Réalisateurs</h1>
		</div>
		<blockquote class='border-l-4 border-r-4 border-yellow-400 p-4 m-4 text-italic text-gray-700 bg-gray-100 rounded-lg'>
			"Dans l'obscurité, ils tissent des rêves en images. Chaque plan devient une fenêtre sur des paysages sauvages. Les réalisateurs, artisans de contes magiques."
		</blockquote>
		<div class='grid lg:grid-cols-4 sm:grid-cols-2 gap-4'>
			{% for director in directors %}
				{% include 'director/directorCard.html.twig' %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
