<aside class='bg-black p-4 w-full rounded-lg'>
	<h3>Nos autres sections</h3>
	<ul class='underline p-2 text-sm'>
		<li class='my-1'>
			<a href='/realisateurs' class='flex items-center gap-2'>
				<img src='/images/icons/director-ico.svg' alt='director-icon' class='w-6 h-86'>
				Réalisateurs</a>
		</li>
		<li class='my-1'>
			<a href='/acteurs' class='flex items-center gap-2'>
				<img src='/images/icons/actor-ico.svg' alt='cator-icon' class='w-6 h-6'>
				Acteurs</a>
		</li>
		<li class='my-1'>
			<a href='/categories' class='flex items-center gap-2'>
				<img src='/images/icons/category-ico.svg' alt='category-icon' class='w-6 h-6'>
				Catégories</a>
		</li>
	</ul>
</aside>
