<div class='flex flex-col gap-4 p-4 m-4 bg-black rounded-lg shadow-lg'>
	<span class='flex gap-2'>
		<img src="{{asset('/images/icons/like-ico.svg')}}" alt='like-icons' class='w-8 h-8'>
		<h5>Les mieux notées :</h5>
	</span>
	<ul class='px-5 list-disc'>
		<li>
			<a href='#' class='underline'>Avatar</a>
		</li>
		<li>
			<a href='#' class='underline'>Mission Impossible</a>
		</li>
		<li>
			<a href='#' class='underline'>Coeur de dragon</a>
		</li>
	</ul>
</div>
