{% extends 'bundles/TwigBundle/Exception/index.html.twig' %}
{% block title %}
	Accès refusé
{% endblock %}
{% block message %}
	Accès refusé
{% endblock %}
{% block description %}
	<div class='mx-auto flex flex-col my-4'>
		<p class='my-2 text-center'>
			Vous n'êtes pas autorisé à voir cette ressource
		</p>
	</div>
{% endblock %}
