{% extends 'bundles/TwigBundle/Exception/index.html.twig' %}
{% block title %}
	Erreur Serveur
{% endblock %}
{% block message %}
	Erreur Serveur
{% endblock %}
{% block description %}
	<p class='text-center'>
		Le serveur a rencontré une erreur interne !!
	</p>
{% endblock %}
