{% extends 'bundles/TwigBundle/Exception/index.html.twig' %}
{% block title %}
	Accès refusé
{% endblock %}
{% block message %}
	Accès refusé
{% endblock %}
{% block description %}
	<p class='my-2 text-center'>
		Vous n'êtes pas autorisé à voir cette ressource
	</p>
{% endblock %}
