{% extends 'bundles/TwigBundle/Exception/index.html.twig' %}
{% block title %}
	Erreur Serveur
{% endblock %}
{% block message %}
	Erreur Serveur
{% endblock %}
{% block description %}
	<div class='mx-auto flex flex-col my-4'>
		<p class='my-2 text-center'>
			Le serveur a rencontré une erreur interne
		</p>
		<div class='w-full mx-4'>
			<img src='/images/erreur-500.jpeg' alt='erreur-500' class='w-[400px] h-[400px] object-cover rounded-full mx-auto shadow-lg shadow-black'>
		</div>
	</div>
{% endblock %}
