{% extends 'bundles/TwigBundle/Exception/index.html.twig' %}
{% block title %}
	Page introuvable
{% endblock %}
{% block message %}
	Page introuvable
{% endblock %}
{% block description %}
	<div class='mx-auto flex flex-col my-4'>
		<p class='my-2 text-center'>Cette page est inaccessible, Désolé !</p>
	</div>
{% endblock %}
