{% extends 'bundles/TwigBundle/Exception/index.html.twig' %}
{% block title %}
	Erreur Serveur
{% endblock %}
{% block message %}
	Erreur Serveur
{% endblock %}
{% block description %}
	<div class='mx-auto flex flex-col my-4'>
		<p class='my-2 text-center'>
			Le serveur a rencontré une erreur interne
		</p>
	</div>
{% endblock %}
